body{
    background: #011b33;
}
.card-custom {
    width: 252px;
    height: 380px; 
    background: white;
    border-radius: 30px;
    transition: 0.2s;
    overflow: hidden; 
    position: relative;
    
}




.card-custom:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}


.img-custom {
    height: 50%;
    border-radius: 30px 30px 0 0;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}


.save-custom {
    margin: 20px;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.save-custom:hover {
    transform: scale(1.1) rotate(10deg);
}


.save-custom i {
    font-size: 18px;
    color: #888;
    transition: color 0.2s, transform 0.2s;
}

.save-custom:hover i {
    color: #000;
}


.text-custom {
    margin: 20px;
}


.h3-custom {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin: 0 0 5px 0;
}


.p-custom {
    font-family: sans-serif;
    color: #999;
    font-size: 13px;
    margin: 0 0 15px 0;
}


.icon-box-custom {
    width: 70%;
    padding: 10px;
    background: #e3fff9;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


.icon-box-custom i,
.icon-box-custom span {
    font-size: 17px;
    margin-right: 10px;
}


.span-custom {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #0f73a1;
    margin: 0;
}









.rotating-card {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.rotating-card::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  background: linear-gradient(270deg, #00b7ff, #ff30ff, #00ff90);
  background-size: 600% 600%;
  animation: rotateBG 5s linear infinite;
  opacity: 0.4; 
}

.rotating-card:hover {
  transform: scale(1.03);
}

@keyframes rotateBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.card-custom  * {
  position: relative;
  z-index: 1;
}


.button{
    text-decoration: none;
}



